@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

header{
    
}

ul{
    margin-top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    background-color: rgb(212, 212, 167);
    cursor: pointer;
    border-bottom: 2px solid #BBBBBB;
    
}

li{
   display: flex;
   color: crimson;
   font-size: large;
   font-weight: bold;
   height: 70px;
   width: 100px;
   align-items: center;
   justify-content: center;
   border-radius: 5%;
   border-bottom: 1px solid #BBBBBB;
   padding: 0px 0px;
   opacity: 0.75;
   
  
}
.nav li:hover {
    background-color:rgb(247, 242, 242);
    color: rgb(161, 36, 36);
    opacity: 1;
  }
  .header{
      color: rgb(221, 22, 22);
      margin-bottom: 5%;
  }

  *{
      background-color:#F7F4E9;
  }