.advise{
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 5%;
    text-transform: capitalize;
    font-size:40px;
    font-weight: bolder;
    background-color: burlywood;
    margin-bottom: 10%;
    margin-top: 4%;
}

.container{
   display: grid;
   grid-row: 3;
   overflow:none;
   
}

button{
    width: 300px;
   margin-left: 45%;
   height: 70px;
   background-color: rgb(43, 107, 86);
}
p{
    background-color: inherit;
    color: crimson;
   
}